.navColorDesign {
    background-color: #0F1A50 !important;
    margin-top: -15px;
    position: relative !important;
}

.navbar-light .navbar-nav .nav-link{
    color: #fff !important;
}
.navbar-light .navbar-toggler.navbar-toggler{
    background-color: #fff !important;
}

.form-inline .form-control {
    font-size: 10px !important;
    margin-top: -5px !important;
}

.topNavContainer{
    position:fixed !important;
    z-index: 9999!important;
    width: 100%;
}

.btn-outline-success {
    font-size: 10px;
    color: #28a745;
    border-color: #28a745;
    margin-top: -5px !important;
}
.btn-outline-info{
    font-size: 10px !important;
    margin-top: -20px !important;

}

.whiteLogo{
    height: 65px;
    width: 65px;
    margin-right: 38px;

}



.imgDesign {
    margin-right: -60px;
    height: 75px;
    width: 32px;
    margin-top: -50px;
    margin-bottom: -49px;
}
.searchBoxDesign {
    margin-top: -15px;
    background-color: #76B8CC;
    margin-right: -128px;
   
}


 @media screen and (max-width: 617px){
  .whiteLogo{
      display: none !important;
  }.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 98%;
    padding-right: 13px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
    
}

@media (min-width: 1200px){
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1123px !important;
}
}


@media only screen  and (min-width : 1468px) {
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1242px;
    }
}


.makeStyles-root-5 {
    flex-grow: 1;
    margin-right: -93px !important;
}

/* 
/* Marquee code  */
.container{
  margin-top: 10px;
}
.last-news {
	position: relative;
	width: 135%;
	height: 50px;
	bottom: 10px;
    
}

.news-wrapper {
    margin-top: -10px;
    margin-left: -102px;
}
.news-title {
    background-color: #0F1A50;
    color: #fff;
    /* color: #76b8cc; */
    display: block;
    height: 53px;
    width: auto;
    font-size: 1rem;
    position: absolute;
    margin-top: -8px;
    margin-left: -42px;
    padding-top: 16px;
    padding-left: 19px;
    padding-right: 38px;
    z-index: 3;
}

 @media screen and (max-width: 617px){
  .news-title {
    background-color: #0F1A50;
    color: #fff;
    /* color: #76b8cc; */
    display: block;
    height: 50px;
    width: auto;
    font-size: 1rem;
    position: absolute;
    /* margin-top: 2px; */
    margin-left: -51px;
    padding-top: 10px;
    padding-left: 130px;
    padding-right: 12px;
    z-index: 3;
}.searchBoxDesign{
  display: none;
}.last-news {
    position: relative;
    width: 110%;
    height: 50px;
    bottom: 10px;
}
    
}
@media screen and (max-width: 617px){
.last-news {
    position: relative;
    width: 120%;
    height: 50px;
    bottom: 10px;
}
}



