.navColorDesign {
    /* margin-right: 70px !important; */
    background-color: #0F1A50 !important;
    margin-top: -15px;
    position: relative !important;
}

.navbar-light .navbar-nav .nav-link{
    color: #fff !important;
}
.navbar-light .navbar-toggler.navbar-toggler{
    background-color: #fff !important;
}

.form-inline .form-control {
    font-size: 10px !important;
    /* margin-left: 70px; */
    margin-top: -5px !important;
}

.topNavContainer{
    position:fixed !important;
    z-index: 9999!important;
    /* box-shadow: 5px 5px 10px rgb(54 66 131 / 15%); */
    /* top: 50%; */
    /* left: 0; */
    width: 100%;
}

.btn-outline-success {
    font-size: 10px;
    color: #28a745;
    border-color: #28a745;
    margin-top: -5px !important;
}
.btn-outline-info{
    font-size: 10px !important;
    margin-top: -20px !important;

}

.whiteLogo{
    height: 65px;
    width: 65px;
    margin-right: 38px;

}

/* 
.imgDesign{
    margin-right: -60px;
    height: 81px;
    width: 65px;
    margin-top: -11px;
    margin-bottom: -15px;
} */

.imgDesign {
    margin-right: -60px;
    height: 75px;
    width: 32px;
    margin-top: -50px;
    margin-bottom: -49px;
}
.searchBoxDesign {
    margin-top: -15px;
    background-color: #76B8CC;
    /* background-color: black; */
    margin-right: -128px;
    /* margin-left: -45px; */
}
/* 
@media (min-width: 1200px){
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 2276px;
    }

} */
/* 
@media screen and (min-width: 1400px) {
  .container {
    width: 1370px;
  }
}
@media screen and (min-width: 1600px) {
  .container {
    width: 1570px;
  }
}
@media screen and (min-width: 1900px) {
  .container {
    width: 1870px;
  }
}
 */

 @media screen and (max-width: 617px){
  .whiteLogo{
      display: none !important;
  }.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 98%;
    padding-right: 13px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
    
}

@media (min-width: 1200px){
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1123px !important;
}
}

/* Large screens ----------- */
@media only screen  and (min-width : 1468px) {
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1242px;
    }
}


.makeStyles-root-5 {
    flex-grow: 1;
    margin-right: -93px !important;
}

/* Notice css code start here */

.noticesCss{
    background-color: aqua;
    padding: 6px;
    border-radius: 10px;
    text-align: center;
    font-size: 15px;
    margin-right: 10px;
 color:'#fff';

}

.noticesCss1{
 background-color:yellow;
    padding: 6px;
    border-radius: 10px;
    text-align: center;
    font-size: 15px;
    margin-right: 10px;
 color:'#fff';

}

.noticesCss2{
    /* margin-top: 10px; */
 background-color: rgb(123, 16, 247);
    padding: 6px;
    border-radius: 10px;
    text-align: center;
    font-size: 15px;
    margin-right: 10px;
 color:'#fff';

}
.noticesCss3{
 background-color: red;
    padding: 6px;
    border-radius: 10px;
    text-align: center;
    font-size: 15px;
    margin-right: 10px;
 color:'#fff';

}
.noticesCss4{
 background-color: rgb(59, 241, 43);
    padding: 6px;
    border-radius: 10px;
    text-align: center;
    font-size: 15px;
 color:'#fff';
    margin-right: 10px;
}
.noticesCss5{
 background-color: rgba(34, 250, 52, 0.534);
    padding: 6px;
    border-radius: 10px;
    text-align: center;
    font-size: 15px;
    margin-right: 10px;
 color:'#fff';

}

.noticesCss6{
 background-color: rgb(255, 0, 119);
 color:'#fff';
    padding: 6px;
    border-radius: 10px;
    text-align: center;
    font-size: 15px;
    margin-right: 10px;
}

.maineNotice {
    /* border: 1px solid; */
    font-size: 15px;
    /* background-color: aliceblue; */
    /* padding: 14px; */
    border-radius: 7px;
    
}