.imgDesign {
  margin-right: -60px;
  height: 76px;
  width: 78px;
  margin-top: -23px;
  margin-bottom: -24px;
}


.whiteLogo{
  height: 65px;
  width: 65px;
  margin-right: 38px;

}

.navColorDesign {
  /* margin-right: 70px !important; */
  background-color: #0F1A50 !important;
  margin-top: -15px;
  position: relative !important;
  color : white !important
}

.navbarLight .navbarNav .navLink{
  color: #fff !important;
}
.navbarLight .navbarToggler.navbarToggler{
  background-color: #fff !important;
}

.form-inline .form-control {
  font-size: 10px !important;
  /* margin-left: 70px; */
  margin-top: -5px !important;
}

.topNavContainer{
  position:fixed !important;
  top : 50px;
  z-index: 1!important;
  /* box-shadow: 5px 5px 10px rgb(54 66 131 / 15%); */
  /* top: 50%; */
  /* left: 0; */
  width: 100%;
}